::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #0D0e11;
}

::-webkit-scrollbar-thumb {
  background: #894a90;
}

#reveal1 {
  opacity: 0;
  -webkit-transform: scale(0.9);
  -moz-transform: scale(0.9);
  -ms-transform: scale(0.9);
  -o-transform: scale(0.9);
  transform: scale(0.9);
  -webkit-transition: all 1s ease-in-out;
  -moz-transition: all 1s ease-in-out;
  -ms-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
}

#reveal1.visible {
  opacity: 1;
  -webkit-transform: none;
  -moz-transform: none;
  -ms-transform: none;
  -o-transform: none;
  transform: none;
}

body {
  margin: 0;
}
body canvas.particles-js-canvas-el {
  height: 100vh !important;
}
body section.panel.main {
  height: 100vh;
}
body section.demo {
  text-align: center;
  background: #0D0e11;
}
body #pinContainer {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
body .panel.main, body .panel.turqoise, body .panel.green, body .panel.bordeaux, body .panel.grey {
  background-color: #0D0e11;
}
body .panel.turqoise .title-sect, body .panel.turqoise .title-sect-close {
  color: #b0ddd1;
}
body .panel.green .title-sect, body .panel.green .title-sect-close {
  color: #894a90;
}
body .panel.bordeaux .title-sect, body .panel.bordeaux .title-sect-close {
  color: #777b87;
}
body .panel.grey {
  font-family: "Inconsolata", sans-serif;
}
body .panel.grey .title-sect, body .panel.grey .title-sect-close {
  color: #ffffff;
}
body .panel.grey p {
  padding-left: 2%;
  display: inline-block;
  width: 100%;
  font-weight: 700;
}
body .main-content {
  position: relative;
}
body footer {
  position: absolute;
  bottom: 5px;
  font-family: "cookie";
  color: #ffffff;
  font-size: 19px !important;
  width: 100%;
  text-align: center;
  letter-spacing: 1.5px;
}
body footer span {
  color: #894a90;
}
body .flaticon-like:before {
  margin: 0;
  font-size: 11px;
}
body .logo {
  position: absolute;
  top: 10%;
  left: 5%;
}
body .logo img {
  height: 90px;
  width: 115px;
}
body .content {
  position: absolute;
  top: 50%;
  left: 20%;
  transform: translate(-20%, -50%);
  color: #ffffff;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
}
body .content p {
  font-size: 38px;
  text-align: left;
}
body .content span {
  font-family: "Cookie", cursive;
}
body .title-sect, body .title-sect-close {
  color: #ffffff;
  font-family: "Inconsolata", monospace;
  font-size: 30px;
}
body .title-sect::before, body .title-sect-close::before {
  content: "<";
}
body .title-sect::after, body .title-sect-close::after {
  content: ">";
}
body .title-sect-close::before {
  content: "</";
}
body .padding {
  padding: 5%;
}
body .content-about {
  font-size: 18px;
  width: 45%;
  padding-left: 2%;
  line-height: 1.4;
  color: #777b87;
  font-family: "Montserrat", sans-serif;
  float: left;
}
body .content-grey {
  color: #777b87;
}
body .content-green {
  color: #b0ddd1;
}
body .content-berry {
  color: #894a90;
}
body .content-image {
  float: left;
  width: 45%;
  position: relative;
}
body .content-image img {
  max-width: 265px;
  margin: 0 auto;
  display: inherit;
}
body .section-two {
  display: inline-block;
  width: 100%;
}
body .projects {
  list-style: none;
  display: inline-block;
  width: 100%;
}
body .projects li {
  border-radius: 50%;
  width: 145px;
  height: 145px;
  margin-right: 3%;
  margin-bottom: 3%;
  position: relative;
  float: left;
  border: 1px solid #777b87;
}
body .projects li:hover {
  background: #ffffff;
}
body .projects li:hover img {
  filter: none;
}
body .projects li img {
  width: 100px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  filter: grayscale(100%);
}
body .projects.tera img, body .projects.logos img {
  width: 130px;
}

.demo {
  background: #0D0e11;
  padding-top: 5em;
  display: flex;
  justify-content: center;
  padding: 5%;
}

.typewriter h1 {
  color: #777b87;
  font-family: "Inconsolata", monospace;
  font-size: 30px;
  overflow: hidden;
  border-right: 0.15em solid rgba(137, 74, 144, 0.5);
  white-space: nowrap;
  margin: 0 auto;
  letter-spacing: 0.15em;
  animation: typing 4s steps(30, end), blink-caret 0.5s step-end infinite;
  animation-iteration-count: 1;
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}
@keyframes blink-caret {
  from, to {
    border-color: transparent;
  }
  50% {
    border-color: rgba(137, 74, 144, 0.5);
  }
}
#chartdiv, #chartdivskill {
  width: 100%;
  height: 450px;
  font-family: "Inconsolata", monospace;
  margin-bottom: 5%;
}

.skills {
  font-family: "Inconsolata", monospace;
  width: 45%;
  margin: 2% 0 5% 4%;
  float: left;
}
.skills *,
.skills *::after,
.skills *::before {
  box-sizing: border-box;
}
.skills .skill {
  width: 90%;
}
.skills .skill .type {
  color: #fff;
  font-weight: 300;
  font-size: 0.85rem;
  letter-spacing: 0.145em;
  text-transform: uppercase;
  width: 5em;
}
.skills .skill .outer-bar,
.skills .skill .inner-bar {
  height: 0.75em;
}
.skills .skill .outer-bar {
  background: #333;
}
.skills .skill .inner-bar {
  animation: fillBar 1s forwards;
  background: #894a90;
  left: 5em;
  transform: scaleX(0);
  transform-origin: 0 0;
}
.skills .skill .inner-bar.inner-100 {
  width: 100%;
}
.skills .skill .inner-bar.inner-95 {
  width: 95%;
}
.skills .skill .inner-bar.inner-90 {
  width: 90%;
}
.skills .skill .inner-bar.inner-75 {
  width: 75%;
}

@keyframes fillBar {
  to {
    transform: scaleX(1);
  }
}
.others {
  width: 50%;
  float: left;
}

/*Media Queries*/
@media (max-width: 992px) {
  h1 {
    font-size: 30px;
  }

  .options a {
    font-size: 16px;
  }

  .options {
    margin-top: 3%;
  }

  section.demo {
    display: none;
  }

  #chartdivskill {
    height: 300px;
  }
}
@media (max-width: 768px) and (orientation: landscape) {
  .logo {
    top: 10%;
  }

  body .content-about, body .content-image, .skills, .others {
    width: 100%;
  }

  #chartdivskill {
    height: 300px;
  }
}
@media (max-width: 768px) {
  .logo img {
    width: 60%;
  }

  canvas.particles-js-canvas-el {
    height: 100vh !important;
  }

  body .content p {
    font-size: 30px;
  }

  section.demo {
    display: none;
  }

  body .content-about, body .content-image, .skills, .others {
    width: 100%;
  }

  #chartdivskill {
    height: 300px;
  }

  body .projects {
    display: block;
    padding-left: 0;
    margin: 0 auto;
  }
  body .projects li {
    float: left;
    margin-bottom: 5%;
    width: 100px;
    height: 100px;
    background: #ffffff;
    border: none;
  }
  body .projects li img {
    width: 80px;
    filter: none;
  }

  body .projects.tera img, body .projects.logos img {
    width: 95px;
  }

  body .panel.grey p {
    display: inline-block;
    width: 100%;
  }
}
@media (max-width: 575px) {
  .logo img {
    width: 80%;
  }

  section.demo {
    display: none;
  }

  body .content-about, body .content-image, .skills, .others {
    width: 100%;
  }
  body .content-about img, body .content-image img, .skills img, .others img {
    max-width: 200px;
  }

  #chartdivskill {
    height: 300px;
  }
}
@media (max-width: 575px) and (orientation: landscape) {
  .logo img {
    width: 60%;
  }

  .logo {
    top: 7%;
  }

  section.demo {
    display: none;
  }

  body .content-about, body .content-image, .skills, .others {
    width: 100%;
  }
  body .content-about img, body .content-image img, .skills img, .others img {
    max-width: 200px;
  }

  #chartdivskill {
    height: 300px;
  }
}

/*# sourceMappingURL=style.css.map */
