body {
    min-height: 100vh;
    margin: 0;
    overflow: hidden;
}

footer {
    position: absolute;
    bottom: 5px;
    font-family: "cookie";
    color: #464b5b;
    font-size: 18px;
    width: 100%;
    text-align: center;
}

footer .flaticon-like:before {
    margin: 0;
    font-size: 11px;
}

.logo {
    position: absolute;
    top: 15%;
    width: 100%;
    text-align: center;
}

.logo img {
    width: 35%;
}

h1 {
    font-family: "cookie";
    font-size: 38px;
    color: #464b5b;
}

.options a {
    text-decoration: none;
    padding: 3%;
    font-family: "comfortaa";
    font-size: 20px;
    color: #88498f;
}

.options {
    margin-top: 4%;
}


/*Media Queries*/

@media (max-width: 992px) {
    h1 {
        font-size: 30px;
    }

    .options a {
        font-size: 16px;
    }

    .options {
        margin-top: 3%;
    }

}

@media (max-width: 768px) and (orientation: landscape){
    .logo {
        top: 10%;
    }
}

@media (max-width: 768px) {
    .logo img {
        width: 60%;
    }
}


@media (max-width: 575px) {
    .logo img {
        width: 80%;
    }
}

@media (max-width: 575px) and (orientation: landscape){
    .logo img {
        width: 60%;
    }
    .logo {
        top: 7%;
    }
}



