::-webkit-scrollbar
	width: 8px

::-webkit-scrollbar-thumb
	width: 8px

::-webkit-scrollbar-track
	background: $smoky

::-webkit-scrollbar-thumb
	background: $berry

#reveal1
	opacity: 0
	-webkit-transform: scale(0.9)
	-moz-transform: scale(0.9)
	-ms-transform: scale(0.9)
	-o-transform: scale(0.9)
	transform: scale(0.9)
	-webkit-transition: all 1s ease-in-out
	-moz-transition: all 1s ease-in-out
	-ms-transition: all 1s ease-in-out
	-o-transition: all 1s ease-in-out
	transition: all 1s ease-in-out
						
#reveal1.visible 
	opacity: 1
	-webkit-transform: none
	-moz-transform: none
	-ms-transform: none
	-o-transform: none
	transform: none
						
body 
	margin: 0

	canvas.particles-js-canvas-el
		height: 100vh !important

	section.panel.main
		height: 100vh

	section.demo
		text-align: center
		background: $smoky

	#pinContainer 
		width: 100%
		height: 100%
		overflow: hidden

	.panel 
		&.main , &.turqoise, &.green, &.bordeaux, &.grey
			background-color: $smoky

		&.turqoise 
			.title-sect, .title-sect-close
				color: $green

		&.green 
			.title-sect, .title-sect-close
				color: $berry

		&.bordeaux 
			.title-sect, .title-sect-close
				color: $white
		
		&.grey 
			font-family: 'Montserrat', sans-serif
			.title-sect, .title-sect-close
				color: $light_gray
			p 
				padding-left: 2%
				font-weight: 700
				color: $berry

	.main-content
		position: relative

	footer 
		position: absolute
		bottom: 5px
		font-family: "cookie"
		color: $white
		font-size: 19px !important
		width: 100%
		text-align: center
		letter-spacing: 1.5px

		span 
			color: $berry


	.flaticon-like:before 
		margin: 0
		font-size: 11px

	.logo 
		position: absolute
		top: 10%
		left: 5%

		img 
			height: 90px
			width: 115px

	.content
		position: absolute
		top: 50%
		left: 20%
		transform: translate(-20%, -50%)
		color: $white
		font-family: 'Montserrat', sans-serif
		font-weight: 500
		p 
			font-size: 38px
			text-align: left

		span 
			font-family: 'Cookie', cursive

	.title-sect, .title-sect-close
		color: $white
		font-family: 'Inconsolata', monospace
		font-size: 30px
		&::before
			content: "<"
		&::after
			content: ">"
	.title-sect-close
		&::before
			content: "</"
	.padding
		padding: 5%

	.content-about 
		font-size: 18px
		width: 45%
		padding-left: 2%
		line-height: 1.4
		color: $light_gray
		font-family: 'Montserrat', sans-serif
		float: left
	.content-grey
		color: $light_gray
	.content-green
		color: $green
	.content-berry
		color: $berry
	.content-image
		float: left
		width: 45%
		position: relative
		img 
			max-width: 265px
			margin: 0 auto
			display: inherit
	.section-two
		display: inline-block
		width: 100%

	.projects
		list-style: none
		display: flex
		li
			border-radius: 50%
			width: 145px
			height: 145px
			margin-right: 5%
			position: relative
			border: 1px solid $light_gray

			&:hover
				background: $white
				img 
					filter: none

			img
				width: 100px
				position: absolute
				top: 50%
				left: 50%
				transform: translate(-50%,-50%)
				filter: grayscale(100%)
		&.tera, &.logos
			img 
				width: 130px
			